.network{
  width: 100%;
  .network__title{
    margin: 150px auto 20px;
    text-align: center;
    width: 383px;
    color: #0B132A;
    font-size: 35px;
    line-height: 50px;
  }
  .network__description{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #4F5665;
  }
  .network__img{
    display: block;
    margin: 186px auto 36px;
    width: 1060px;
    height: 538px;
  }
  .network__list{
    min-width: 1136px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 60px auto 0;
  }
}